  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  var black = [113,119,101,114,116,121,97,115,100,102,103,104,122,120,99,118,98];
  var yellow = [117,105,111,112,91,106,107,108,59,39,110,109,44,46,47];
  var last_goal="";
  var black_ngoals = 0;
  var yellow_ngoals = 0;
  var yp1_id = 0;
  var yp1_name = "";
  var yp2_id = 0;
  var yp2_name = "";
  var bp1_id = 0;
  var bp1_name = "";
  var bp2_id = 0;
  var bp2_name = "";
  var keypressed = false;
  $(function () {
     $("#black-ngoals").text(black_ngoals);
     $("#yellow-ngoals").text(yellow_ngoals);
	$("#status").text("Foosball");
     $("#bt-text-yellow-p1").text("Select player...");
     $("#bt-text-yellow-p2").text("Select player...");
     $("#bt-text-black-p1").text("Select player...");
     $("#bt-text-black-p2").text("Select player...");


     $("#ul-yellow-p1").on('click', 'li a', function(){
        $("#bt-text-yellow-p1").text($(this).text());
        yp1_name=$(this).text();
        yp1_id=$(this).attr('id');
    });

     $("#ul-yellow-p2").on('click', 'li a', function(){
        $("#bt-text-yellow-p2").text($(this).text());
        yp2_name=$(this).text();
        yp2_id=$(this).attr('id');
    });

    $("#ul-black-p1").on('click', 'li a', function(){
        $("#bt-text-black-p1").text($(this).text());
        bp1_name=$(this).text();
        bp1_id=$(this).attr('id');
    });

     $("#ul-black-p2").on('click', 'li a', function(){
        $("#bt-text-black-p2").text($(this).text());
        bp2_name=$(this).text();
        bp2_id=$(this).attr('id');

    });
  });
$(document).ready(function() {
  $("#yellow-ngoals").click(function() {
   		yellow_ngoals+=1;
    		$("#yellow-ngoals").text(yellow_ngoals);
		last_goal="yellow";
    		if (yellow_ngoals==5) {
    			$("#status").text("Yellow won "+yellow_ngoals+"-"+black_ngoals)
			recordGame()
    			yellow_ngoals=0;
    			black_ngoals=0;
			last_goal="";
    			$("#yellow-ngoals").text(yellow_ngoals);
    			$("#black-ngoals").text(black_ngoals);
          flipPlayers();
		}
});
  $("#black-ngoals").click(function() {
    		black_ngoals+=1;
    		$("#black-ngoals").text(black_ngoals);
		last_goal="black";
    		  if (black_ngoals==5) {
    			$("#status").text("Black won "+black_ngoals+"-"+yellow_ngoals)
			recordGame()
    			yellow_ngoals=0;
    			black_ngoals=0;
			last_goal="";
    			$("#yellow-ngoals").text(yellow_ngoals);
    			$("#black-ngoals").text(black_ngoals);
          flipPlayers();
}
});
});
  $(document).keypress(function(e) {
     if (!keypressed) {
	keypressed=true;
	setTimeout(function() {
    		keypressed=false;
	}, 2000);
   // if(e.which == 113) {
   	if ($.inArray(e.keyCode, yellow)>-1) {
   		yellow_ngoals+=1;
    		$("#yellow-ngoals").text(yellow_ngoals);
		last_goal="yellow";
    		if (yellow_ngoals==5) {
    			$("#status").text("Yellow won "+yellow_ngoals+"-"+black_ngoals)
			recordGame()
    			yellow_ngoals=0;
    			black_ngoals=0;
			last_goal="";
    			$("#yellow-ngoals").text(yellow_ngoals);
    			$("#black-ngoals").text(black_ngoals);
          flipPlayers();
    		}
    	} else if ($.inArray(e.keyCode,black)>-1) {
    		black_ngoals+=1;
    		$("#black-ngoals").text(black_ngoals);
		last_goal="black";
    		  if (black_ngoals==5) {
    			$("#status").text("Black won "+black_ngoals+"-"+yellow_ngoals)
			recordGame()
    			yellow_ngoals=0;
    			black_ngoals=0;
			last_goal="";
    			$("#yellow-ngoals").text(yellow_ngoals);
    			$("#black-ngoals").text(black_ngoals);
          flipPlayers();
    		}
    	} else if (e.keyCode==8) {
		if (last_goal=="yellow") {
			yellow_ngoals-=1;
    			$("#yellow-ngoals").text(yellow_ngoals);
		} else if (last_goal=="black") {
			black_ngoals-=1;
    			$("#black-ngoals").text(black_ngoals);
    		}
  	}
   }
  });

  function flipPlayers() {
    var aux_id = bp1_id;
    var aux_name = bp1_name;
    bp1_id=yp1_id;
    bp1_name=yp1_name;
    yp1_id=aux_id;
    yp1_name=aux_name;

    aux_id = bp2_id;
    aux_name = bp2_name;
    bp2_id=yp2_id;
    bp2_name=yp2_name;
    yp2_id=aux_id;
    yp2_name=aux_name;

    $("#bt-text-yellow-p1").text(yp1_name);
    $("#bt-text-yellow-p2").text(yp2_name);
    $("#bt-text-black-p1").text(bp1_name);
    $("#bt-text-black-p2").text(bp2_name);

  }
 function recordGame() {

     	$.getJSON('record_game',{
				yellow_p1: yp1_id,
				yellow_p2: yp2_id,
				black_p1: bp1_id,
				black_p2: bp2_id,
				black_goals: black_ngoals,
				yellow_goals: yellow_ngoals
			},function(data) {
  		 	$("#result").text(data.result);
  		 });
      // enter pressed
}


  </script>
  <style>
  .yellow {
  background-color: FFFF00;
  height: 100%;
  }
  .black {
  background-color: 000000;
  height: 100%;
  }
  .goals-black {
  	position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 50%;
      height: 50%;
      margin: auto;
      color: white;
      font-size: 300px;
      text-align: center;
  }
  .goals-yellow {
  	position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 50%;
      height: 50%;
      margin: auto;
      color: black;
      font-size: 300px;
      text-align: center;
  }
  </style>

  </head>
  <body>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-12" style="text-align: center">
  	<h1 id="status"></h1><p>{% if not session.logged_in %} <a href="{{ url_for('login') }}">Log In</a>{% else %}<a href="{{ url_for('logout') }}">Log Out</a>{% endif %} - <a href="{{ url_for('stats') }}">Stats</a></p>
  </div>
  </div>
	{% if session.logged_in %}
   <div class="row">

      <div class="col-md-6 yellow" id="yellow">
          <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="bt-yellow-p1">
      <span id="bt-text-yellow-p1"></span>
      <span class="caret"></span>
    </button>
    <ul id="ul-yellow-p1" class="dropdown-menu" aria-labelledby="dropdownMenu1">
  {% for user in users %}
      <li><a href="#" id="{{ user.id_user }}">{{ user.name }}</a></li>
  {% endfor %}
    </ul>
  </div>
          <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="bt-yellow-p2">
      <span id="bt-text-yellow-p2"></span>
      <span class="caret"></span>
    </button>
    <ul id="ul-yellow-p2" class="dropdown-menu" aria-labelledby="dropdownMenu1">
  {% for user in users %}
      <li><a href="#" id="{{ user.id_user }}">{{ user.name }}</a></li>
  {% endfor %}
    </ul>
  </div>

  <div class="goals-yellow">
  <p id="yellow-ngoals"></p>

      </div>
   </div>
       <div class="col-md-6 black" >

          <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="bt-black-p1">
      <span id="bt-text-black-p1"></span>
      <span class="caret"></span>
    </button>
    <ul id="ul-black-p1" class="dropdown-menu" aria-labelledby="dropdownMenu1">
  {% for user in users %}
      <li><a href="#" id="{{ user.id_user }}">{{ user.name }}</a></li>
  {% endfor %}
    </ul>
  </div>
          <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="bt-black-p2">
      <span id="bt-text-black-p2"></span>
      <span class="caret"></span>
    </button>
    <ul id="ul-black-p2" class="dropdown-menu" aria-labelledby="dropdownMenu1">
  {% for user in users %}
      <li><a href="#" id="{{ user.id_user }}">{{ user.name }}</a></li>
  {% endfor %}
    </ul>
  </div>

  <div class="goals-black" >
  <p id="black-ngoals"></p>
  </div>

   </div>
  </div>
   </div>
	{% endif %}
  </body>
