<!DOCTYPE html>
<html lang="en">
<head>
  <title>Foosball Statistics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Foosball Stats</h1>
  <p>{% if not session.logged_in %} <a href="{{ url_for('login') }}">Log In</a>{% else %}<a href="{{ url_for('logout') }}">Log Out</a>{% endif %} - <a href="{{ url_for('show_entries') }}">Score</a></p>
  {% if session.logged_in %}
  <h2>Last Week</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>YW</th>
        <th>BW</th>
        <th>TW</th>
        <th>YG</th>
        <th>BG</th>
        <th>TG</th>
        <th>TW/TG</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in lastweek %}
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.yellow_wg }}</td>
        <td>{{ entry.black_wg }}</td>
        <td>{{ entry.won_games }}</td>
        <td>{{ entry.yg }}</td>
        <td>{{ entry.bg }}</td>
        <td>{{ entry.total_games }}</td>
        <td>{{ entry.ranking }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>All time</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>YW</th>
        <th>BW</th>
        <th>TW</th>
        <th>YG</th>
        <th>BG</th>
        <th>TG</th>
        <th>TW/TG</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in alltime %}
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.yellow_wg }}</td>
        <td>{{ entry.black_wg }}</td>
        <td>{{ entry.won_games }}</td>
        <td>{{ entry.yg }}</td>
        <td>{{ entry.bg }}</td>
        <td>{{ entry.total_games }}</td>
        <td>{{ entry.ranking }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Crawling</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>YC</th>
        <th>BC</th>
        <th>TC</th>
        <th>TG</th>
        <th>TC/TG</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in crawler %}
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.yellow_wg }}</td>
        <td>{{ entry.black_wg }}</td>
        <td>{{ entry.crawl_games }}</td>
        <td>{{ entry.total_games }}</td>
        <td>{{ entry.ranking }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Make Crawl</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>YC</th>
        <th>BC</th>
        <th>TC</th>
        <th>TG</th>
        <th>TC/TG</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in victor %}
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.yellow_wg }}</td>
        <td>{{ entry.black_wg }}</td>
        <td>{{ entry.crawl_games }}</td>
        <td>{{ entry.total_games }}</td>
        <td>{{ entry.ranking }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>


</body>
</html>
